<a href="https://colab.research.google.com/github/JARACH-209/DataAnalytics/blob/master/Temp_Sample_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
pip install flatten_json

Collecting flatten_json
  Downloading https://files.pythonhosted.org/packages/eb/a9/1e35abfc4726065f9692decb3c57cf379e5d5329befc6fa5a1ab835fffb8/flatten_json-0.1.7-py3-none-any.whl
Installing collected packages: flatten-json
Successfully installed flatten-json-0.1.7

In [102]:
import pandas as pd
from flatten_json import flatten
import matplotlib 
from matplotlib import pyplot as plt
import ast


temp_readings = "/content/Sensor-02.json"

json_data = pd.read_json(temp_readings,orient='columns')
#df = flatten(json_data)
#df = [ast.literal_eval(df) for i in df.index]


json_data.columns

Index(['metadata', 'results'], dtype='object')

In [103]:
json_data.drop(columns = "metadata",inplace=True)

In [104]:
json_data.head(10)

                            results
created_on                      NaN
generator_script                NaN
generator_version               NaN
parameters                      NaN
processing_end                  NaN
processing_start                NaN
source_files                    NaN
system                          NaN
2017-11-23 14:40:17.857000      0.2
2017-11-23 14:40:18.067000      0.2

In [105]:
json_data.drop(["created_on","generator_script","generator_version"
,"parameters","processing_end","processing_start","source_files","system"],inplace = True) 
#droppig the unrequired data

In [110]:
df = json_data
#df = pd.DataFrame(df.index.str.split(expand=True).tolist(),columns = ['date','time'])
df["datetime"] = df.index
df[['date','time']] = df.datetime.str.split(expand=True)     #splitting datetime into date and time

In [111]:
df.head()

                            results  ...             time
2017-11-23 14:40:17.857000      0.2  ...  14:40:17.857000
2017-11-23 14:40:18.067000      0.2  ...  14:40:18.067000
2017-11-23 14:40:18.172000      0.2  ...  14:40:18.172000
2017-11-23 14:40:18.262000      0.2  ...  14:40:18.262000
2017-11-23 14:40:18.367000      0.2  ...  14:40:18.367000

[5 rows x 4 columns]

In [76]:
#json_data["results"] = json_data["results"].astype(float)   #converting the column to float so that it can be added to new DF
#df['temp_readings'] = df['temp_readings'].astype(float)
#df['temp_readings'] = json_data["results"]     #Adding column to new dataframe

In [112]:
df.reset_index(drop=True,inplace=True)      #dropping the index which was datatime

In [113]:
df.head()

   results                    datetime        date             time
0      0.2  2017-11-23 14:40:17.857000  2017-11-23  14:40:17.857000
1      0.2  2017-11-23 14:40:18.067000  2017-11-23  14:40:18.067000
2      0.2  2017-11-23 14:40:18.172000  2017-11-23  14:40:18.172000
3      0.2  2017-11-23 14:40:18.262000  2017-11-23  14:40:18.262000
4      0.2  2017-11-23 14:40:18.367000  2017-11-23  14:40:18.367000

In [114]:
df.drop(columns="datetime")

        results        date             time
0           0.2  2017-11-23  14:40:17.857000
1           0.2  2017-11-23  14:40:18.067000
2           0.2  2017-11-23  14:40:18.172000
3           0.2  2017-11-23  14:40:18.262000
4           0.2  2017-11-23  14:40:18.367000
...         ...         ...              ...
105971      4.8  2017-11-23  17:40:15.889000
105972      4.8  2017-11-23  17:40:15.979000
105973      4.8  2017-11-23  17:40:16.084000
105974      4.8  2017-11-23  17:40:16.204000
105975      4.8  2017-11-23  17:40:16.295000

[105976 rows x 3 columns]

In [115]:
df.to_csv("temp_dataframe_sensor1_sensor2")     #saving dataframe to file